* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/* #f86205 primary - orange */
#top {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgb(124, 124, 124);
}

nav {
    display: flex;
    flex-direction: column;
    border-bottom: 0px solid rgb(137, 137, 137);
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    /* background: rgb(28, 28, 28); */
    background: black;
    /* filter: brightness(60%); */
    backdrop-filter: blur(50px);
}

#navtop {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 23px;
}
#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo h1 {
    margin-right: 10px;
    font-weight: 400;
    color: rgb(35, 35, 35);
}

#logo i {
    font-size: 35px;

}
#logo  #popupIcon {
    font-size: 20px;
    margin-left: 30px;
}

#right {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#right input {
    border: 0px solid rgb(75, 75, 75);
    color: rgb(80, 80, 80);
    background: transparent;
    border-radius: 12px;
    height: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
}

#right input:focus {
    outline: none;
    cursor: pointer;
    color: rgb(80, 80, 80);
    font-size: 17px;
    font-weight: 300;
}

#right #search {
    border: 1px solid rgb(187, 187, 187);
    background: transparent;
    padding: 10px 20px;
    border-radius: 22px;
    margin-right: 90px;
    cursor: pointer;
}

#right #righticon i {
    font-size: 34px;
    color: #000000;
    margin-right: 20px;
    transition: all 0.4s ease;
}

#right #righticon i:hover {
    color: #f86205;
    cursor: pointer;
}
#navtop #box {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    height: 300px;
    width: 70vw;
    font-size: 15px;
    font-weight: 200;
    background: rgb(255, 255, 255);
    color: #909090;
    border: 1px solid rgb(232, 232, 232);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    top: 95px;
    transition: all 0.3s ease-in;
    /* box-shadow: 2px 2px 12px rgb(0, 0, 0); */
    backdrop-filter: blur(90px);
    padding: 50px;
    cursor: pointer;
    z-index: 999;
}
#navtop #box a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: #909090;
}
#navtop #box a:hover {
    color: #383838;
}
#navtop #box h2:hover {
    color: #383838;
}


#main {
    display: flex;
    padding-top: 40px;
    background: rgb(237, 237, 237);
}
#leftbar {
    border: 0px solid rgb(84, 84, 84);
    background: rgb(255, 255, 255);
    border-top-right-radius: 12px;
    /* box-shadow: 2px 2px 12px rgb(195, 195, 195); */
    height: 100vh;
    padding: 30px;
    width: 15%;
}
#leftbar #brands {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    padding-bottom: 20px;
}
#leftbar #brands h1{
    font-size: 25px;
    margin-bottom: 20px;
}
#leftbar #brands input[type="checkbox"] {
    margin-right: 10px;
    font-size: 10px;
    margin-bottom: 10px;
}

#leftbar #price {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    padding-bottom: 20px;
}
#leftbar #price  h1{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#leftbar #price  input {
    margin-right: 10px;
    font-size: 50px;
    margin-bottom: 10px;
}

#leftbar #color{
    display: flex;
    flex-direction: column;
    font-size: 21px;
    padding-bottom: 20px;
}
#leftbar #color  h1{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#leftbar #color input {
    margin-right: 10px;
    font-size: 50px;
    margin-bottom: 10px;
}
#leftbar #color #color-icon1 {
    border: 1px solid red;
    background: red;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 15px;
    color: red;
    margin-left: 5px;
}
#leftbar #color #color-icon2 {
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 5px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}
#leftbar #color #color-icon3 {
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 5px;
    margin-right: 15px;
    color: rgb(0, 0, 0);
    margin-left: 5px;
}
#leftbar #color #color-icon4 {
    border: 1px solid rgb(31, 163, 21);
    background: rgb(31, 163, 21);
    font-size: 15px;
    border-radius: 5px;
    margin-right: 15px;
    color: rgb(31, 163, 21);
    margin-left: 5px;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 82%;
    background: rgb(255, 255, 255);
    border: 0px solid black;
    /* box-shadow: 2px 2px 12px rgb(195, 195, 195); */
    border-radius: 12px;
    margin-left: 2%;
    padding: 20px;
}

#product{
    border: 1px solid rgb(209, 209, 209);
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 12px;
    background: white;
    /* box-shadow: 2px 2px 12px rgb(207, 207, 207); */
}
#product:hover {
    cursor: pointer;
    box-shadow: 2px 2px 12px rgb(179, 179, 179);
    transition: all 0.1s ease-in;
}
#product img {
    border: 0px solid black;
    height: 300px;
    width: 250px;
    margin-left: 25px;
}
#product #details{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
#product #details p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(129, 129, 129);
}
#product #details h1 {
    font-size: 25px;
    font-style: italic;
}
#product #details #price {
    margin-right: 20px;
    font-size: 26px;
    font-weight: 800;
    font-style: italic;
    display: flex;
    flex-direction: column;
}
#product #details #price i {
    font-size: 23px;
    position: absolute;
    top: 20px;
    right: 25px;
    border: 0px solid black;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgb(218, 218, 218);
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
}


@media only screen and (max-width: 430px) {

    #logo h1 {
        color: rgb(0, 0, 0);
        font-size: 23px;
    }

    #navtop {
        display: flex;
        justify-content: space-around;
        margin: 20px;
        font-size: 13px;
    }

    #logo i {
        font-size: 23px;

    }

    #right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }

    #right #search {
        border: 0px solid rgb(187, 187, 187);
        background: transparent;
        width: 0;
        border-radius: 22px;
        margin-right: 0px;
        cursor: pointer;
        display: flex;
    }

    #right input {
        height: 0;
        width: 0;
    }

    #right #search i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0px;
        color: #000000;
        margin-right: 15px;
    }

    #right #righticon {
        display: flex;
    }

    #right #righticon i {
        font-size: 25px;
        color: #000000;
        margin-right: 20px;
        transition: all 0.4s ease;
    }

    #navbtm #navmenu {
        display: flex;
        gap: 15px;
    }

    #navbtm #navmenu a {
        text-decoration: none;
        font-size: 0px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 25px;
        color: rgb(209, 209, 209);
        transition: all 0.4s ease;
    }

    #navbtm #popupIcon {
        margin-left: 115px;
    }

    #navtop #box {
        top: 70px;
        height: 300px;
        width: 94vw;
        font-size: 18px;
    }

    #navtop #box a {
        text-decoration: none;
        font-size: 18px;
        /* font-weight: 400; */
        color: #adadad;
    }
    #navtop #box a:hover {
        color: #383838;
    }
    #navtop #box h2:hover {
        color: #383838;
    }
    
    #navtop #box #part2 {
        font-size: 13px;
    }
    #navtop #box #part2 h2{
        font-size: 18px;
        color: #adadad;
    }
    #navbtm #box a {
        text-decoration: none;
        font-size: 19px;
        /* font-weight: 400; */
        color: #adadad;
    }
    #leftbar {
        position: absolute;
        border: 0px solid rgb(84, 84, 84);
        background: rgb(255, 255, 255);
        border-radius: 12px;
        margin-left: 35px;
        /* box-shadow: 2px 2px 12px rgb(195, 195, 195); */
        display: flex;
        z-index: 9;
        height: 22vh;
        padding: 30px;
        width: 83%;
        top: 80px;
    }
    #leftbar #brands {
        display: flex;
        flex-direction: column;
        font-size: 21px;
        padding-bottom: 20px;
        margin-right: 30px;
        width: 200px;
    }
    #leftbar #brands h1{
        font-size: 21px;
        margin-bottom: 20px;
        font-weight: 400;
        color: rgb(61, 61, 61);
    }
    #leftbar label {
        font-size: 15px;
    }
    #leftbar #brands input[type="checkbox"] {
        margin-right: 10px;
        font-size: 4px;
        margin-bottom: 10px;
    }
    #leftbar #price {
        display: flex;
        flex-direction: column;
        font-size: 21px;
        padding-bottom: 20px;
        margin-left: 50px;
        width: 200px;
    }
    #leftbar #price  h1{
        font-size: 21px;
        margin-top: 0px;
        font-weight: 400;
        margin-bottom: 20px;
        color: rgb(61, 61, 61);
    }
    #leftbar #price  input {
        margin-right: 10px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #leftbar #color{
        display: none;
    }
    hr {
        display: none;
    }
    #main-content {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        width: 82%;
        background: rgb(255, 255, 255);
        border: 0px solid black;
        /* box-shadow: 2px 2px 12px rgb(195, 195, 195); */
        border-radius: 12px;
        margin-left: 2%;
        padding: 20px;
        margin-left: 35px;
        margin-top: 180px;
    }
}


