*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
}


#top {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgb(124, 124, 124);
}

nav {
    display: flex;
    flex-direction: column;
    border-bottom: 0px solid rgb(137, 137, 137);
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    /* background: rgb(28, 28, 28); */
    background: black;
    /* filter: brightness(60%); */
    backdrop-filter: blur(50px);
}

#navtop {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 23px;
}
#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo h1 {
    margin-right: 10px;
    font-weight: 400;
    color: rgb(35, 35, 35);
}

#logo i {
    font-size: 35px;

}
#logo  #popupIcon {
    font-size: 20px;
    margin-left: 30px;
}

#right {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#right input {
    border: 0px solid rgb(75, 75, 75);
    color: rgb(80, 80, 80);
    background: transparent;
    border-radius: 12px;
    height: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
}

#right input:focus {
    outline: none;
    cursor: pointer;
    color: rgb(80, 80, 80);
    font-size: 17px;
    font-weight: 300;
}

#right #search {
    border: 1px solid rgb(187, 187, 187);
    background: transparent;
    padding: 10px 20px;
    border-radius: 22px;
    margin-right: 90px;
    cursor: pointer;
}

#right #righticon i {
    font-size: 34px;
    color: #000000;
    margin-right: 20px;
    transition: all 0.4s ease;
}

#right #righticon i:hover {
    color: #f86205;
    cursor: pointer;
}
#navtop #box {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100vw;
    border: 0px solid red;
    background: rgba(23, 23, 23);
    color: #ffffff;
    position: absolute;
    top: 165px;
    transition: all 0.3s ease-in;
    /* box-shadow: 2px 2px 12px rgb(0, 0, 0); */
    backdrop-filter: blur(90px);
    padding: 50px;
    cursor: pointer;
    z-index: 999;
}


/* product Styles */

#productDetails {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#productImg {
    display: flex;
    flex-direction: column;
    
    width: 40vw;
}
#productDetails #productImg img{
    height: 600px;
    width: 600px;
    margin-left: 30px;
    border: 1px solid black;
}
#productDetails #productImg #imgSlider {
    display: flex;
}
#productDetails #productImg #img2 {
    height: 200px;
    width: 200px;
}
#productInfo {
    border: 1px solid rgb(188, 188, 188);
    border-radius: 20px;
    /* box-shadow: 2px 2px 12px rgb(125, 125, 125);  */
    width: 50vw;
    padding: 20px;
    padding-top: 30px;
    padding-left: 60px;
}
#productInfo h1{
    font-size: 47px;
}
#productInfo p{
    font-size: 27px;
    color: rgb(128, 128, 128);
    margin-bottom: 15px;
}
#productInfo h2{
    font-size: 35px;
    margin-top: 20px;
}
#productInfo #taxes{
    font-size: 22px;
    color: rgb(102, 163, 121);
    margin-bottom: 15px;
}
#productInfo #sizes {
    display: flex;
    gap: 20px;
    font-size: 24px;
    font-weight: 200;
}
#productInfo #sizeh2 {
    font-size: 22px;
    margin-bottom: 25px;
}
#productInfo span {
    border: 1px solid rgb(183, 183, 183);
    padding: 15px;
    border-radius: 12px;
}
#productInfo #addToCart {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#productInfo #addToCart button {
    padding: 10px;

}
#productInfo #addToCart #cartBtn {
    padding: 18px;
    font-size: 22px;
    background: #000000;
    color: white;
    border-radius: 42px;
    width: 90%;
    margin-left: 35px;
}
#productInfo #addToCart #wishlist {
    padding: 15px;
    font-size: 21px;
    background: white;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 42px;
    width: 90%;
    margin-left: 35px;
}   
